[Desktop Entry]
Version=1.0
Name=YouTube
Comment=YouTube
Exec=chromium --new-window --app="https://www.youtube.com//" --name="YouTube" --class="YouTube"
Terminal=false
Type=Application
Icon=/usr/local/share/icons/youtube.svg
StartupNotify=true
